<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineage.overlay.icera">
    <application android:hasCode="false" />
    <overlay android:targetPackage="android"
             android:requiredSystemPropertyName="ro.boot.modem"
             android:requiredSystemPropertyValue="icera"
             android:isStatic="true"
             android:priority="1" />
</manifest>
